doctype HTML5
html(ng-app='app')
    head
        meta(charset='utf-8')
        title BADco. WDT
        script(src='js/wdt-deps.min.js')
        script(src='js/wdt-app.min.js')
        link(rel='stylesheet', type='text/css', href='css/wdt-app.min.css')
    body
        div(ng-view)

